* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color:#000;
}

ul {
    list-style-type: none;
}

h1{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

h3{
    font-size: 19px;
}

p{
    font-size: 17px;
    line-height: 25px;
}

/* Menu-button */
.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
    display:none;
}

/* Header */

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.menu a{
    color: black;
    margin-left: 1rem;
}

.menu img {
    height:25px;
    margin-right: 0.5rem;
}

.menu-left {
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
}

/* Showcase */

.showcase {
    background: url('https://i.ibb.co/zGSDGCL/slide1.png') no-repeat center center/cover;
    height: 450px;
    position: relative;
    margin-bottom: 1rem;
}

.showcase-content p {
    margin-bottom: 3rem;
}

.showcase-content {
    text-align: center;
    position: absolute;
    top: 70%;
    left:50%;
    transform: translate(-50%, -50%);
}

/* Homecards */
.home-cards {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin-bottom: 3rem;
}

.card-item {
    display: flex;
    flex-direction: column;
}

.card-item img {
    width: 100%;
    margin-bottom: 2rem;
}

.card-item * {
    margin-bottom: 0.5rem;
}

.card-item p {
    margin-bottom: 1.5rem;
}

/* Xbox */
.xbox {
    background: url('https://i.ibb.co/tBJGPD9/xbox.png') no-repeat center center/cover;
    position: relative;
    height: 400px;
    margin-bottom: 1.5rem;
}

.xbox-content {
    width: 40%;
    position: absolute;
    top: 45%;
    transform: translate(0, -50%);
    margin-left: 2rem;
}

.xbox-content p {
    margin-bottom: 3rem;
}

/* Carbon */
.carbon {
    background: url('https://i.ibb.co/72cgtsz/carbon.jpg') no-repeat center center/cover;
    position: relative;
    height: 370px;
    margin-bottom: 1.5rem;
}

.carbon-content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 55%;
    margin-left: 2rem;
}

.carbon-content p {
    margin-bottom: 3rem;
}

/* Social Media */
.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.social-media p {
    margin-right: 0.5rem;
}

.social-media a {
    margin-right: 1rem;
}

/* Links */
.links {
    background: #f2f2f2;
    color:#616161;
    font-size: 12px;
    padding: 35px 0;
}

.links-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content:center;
}

.links li {
    line-height: 2.8;
}

/* Footer */
.footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
}

.footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer div i {
    margin-right: 10px;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
}

.footer li {
    margin-right: 30px;
    margin-bottom: 20px;
}

/* Styles */
.dark {
    color: white;
}

/* Buttons */
.btn {
    padding: 0.8rem 1.2rem;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-bl {
    background-color: #262626;
    color: #fff;
}

.btn-wh {
    background-color: #fff;
    color: #262626;
}

.link {
    color:#0069ba;
    font-size: 18px;
    font-weight: 700;
}

@media(max-width: 700px) {
    .menu-btn {
        display: block;
    }

    .menu-btn:hover {
        opacity: 0.5;
    }

    .menu .menu-right {
        margin-right: 50px;
    }

    .menu ul.menu-left {
        display: block;
        position: absolute;
        top:0;
        left: 0;
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }

    .menu ul.menu-left li {
        padding: 10px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;;
    }

    .menu ul.menu-left li:last-child {
        border-bottom: 0;
    }

    .menu ul.menu-left.show {
        transform: translateX(-20px);
    }

    .home-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .xbox-content p {
        display: none;
    }

    .xbox-content h2 {
        margin-bottom: 20px;
    }

    .carbon-content {
        width: 85%;
    }

    .links .links-inner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 500px) {
    .home-cards {
        grid-template-columns: 1fr;
    }

    .links .links-inner {
        grid-template-columns: 1fr;
    }

    .links .links-inner ul{
        margin-bottom: 20px;
    }
}